  .header {
    height: 85vh;    /*95% of viewport height */

    background-image: linear-gradient(to right bottom, /*changes color from top right to bottom left*/
    rgba($color-primary-light, 0.8), /*  with colors(0.8 opacity)*/
    rgba($color-primary-dark, 0.8)), 
    url(../../img/hero-small.jpg);            //Image to be displayed over
    background-size: cover;    /*fits the width of viewport*/
    background-position: top;   /*image stays at top of viewport*/
    position: relative; /* for children position reference */

    @supports (clip-path: polygon(0 0)) or (-clip-path: polygon(0 0)) {
      height: 95vh;    /*95% of viewport height */
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    }

    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5rem),
        only screen and (-webkit-min-device-pixel-ration: 2) and (min-width: 37.5rem),
        only screen and (min-width: 125rem) {
      background-image: linear-gradient(to right bottom, /*changes color from top right to bottom left*/
      rgba($color-primary-light, 0.8), /*  with colors(0.8 opacity)*/
      rgba($color-primary-dark, 0.8)), 
      url(../../img/hero.jpg);            //Image to be displayed over
    }

    @include respond(phone) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }
   &__logo-box {
     position: absolute;
     top: 4rem;
     left: 4rem;
   }

   &__logo {
    height: 3.5rem;
   }

   &__text-box {
     position: absolute;
     top: 40%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
   }
}

  

/* :link is a sudoclass, stylizes element on special condition*/
